@model IEnumerable<TaskManager.Models.TaskList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="center-div">
        <h2>MVC</h2>
    </div>
</div>


<div id="results">
    @Html.Partial("TaskSearch")
</div>


